DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DBNAME?sslmode=require
SECRET_KEY=your-secret-key
DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

DB_SSL_REQUIRE=True

PAYFLOW_WEBHOOK_SECRET=your-payflow-webhook-secret
MERCADO_PAGO_ACCESS_TOKEN=TEST-xxxxxxxxxxxxxxxx
MERCADO_PAGO_WEBHOOK_URL=https://your-public-url/webhooks/mercadopago/
PAYFLOW_FRONTEND_URL=http://localhost:5173
MERCADO_PAGO_WEBHOOK_SECRET=your-mercadopago-webhook-secret

CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

TIME_ZONE=UTC